#cabecera {
    width: 100%;
    height: 150px;
    background: linear-gradient(60deg, #ee7752, #1ebd40,red, #23a6d5, #23d5ab);
    background-size: 300% 400%;
    animation: Gradient 10s ease infinite;
    text-align: center;   
}