body
{
    background: radial-gradient(#686464, #3f3f3f);
    background-size: 100% 150%;
}

#cabecera {
    width: 100%;
    height: 150px;
    background: linear-gradient(60deg, #ff7a21, #6e14b8,#16151557,#ff7a21, #6e14b8);
    background-size: 300% 400%;
    border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    border: 0px solid #000000;
    animation: Header 15s ease infinite;
    text-align: center;   
}
span {
    font-size: 5em;
    text-decoration-color: transparent;
    border:2px solid grey;
}

logo {   z-index: 2;
    position: relative;
    top: 20px;
    right: 50px;
}

@keyframes Header {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}