@use "./colors.scss";
@use "./header.scss";
@use "./body.scss";
@use "./footer.scss";
@use "./animation.scss";

@font-face {
    font-family: proyect;
    src: url(../font/font.otf);
}

* {
    box-sizing: border-box;
}