<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maipetsfct">
    <!-- PERMISOS -->
    <!-- Para poder usar internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Para poder usar la cámara -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- Para poder escribir y leer en el dispositivo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Para poder acceder al calendario -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- Para poder acceder a las llamadas y ver estado -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Defino el servicio para poder usarlo -->
        <service android:name="com.maipetsfct.services.initService" />
        <!-- Actividades de la APP -->
        <activity
            android:name="com.maipetsfct.popups.Pop_spr_det"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name="com.maipetsfct.popups.Pop_com"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name="com.maipetsfct.popups.Pop_spr"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name="com.maipetsfct.popups.Pop_db"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name="com.maipetsfct.sgeActivity" />
        <activity
            android:name="com.maipetsfct.popups.PopUpInfoS"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name="com.maipetsfct.PopSelectAct" />
        <activity android:name="com.maipetsfct.CitasActivity" />
        <activity
            android:name="com.maipetsfct.popups.PopReset"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name="com.maipetsfct.popups.PopServ"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name="com.maipetsfct.AddServActivity" />
        <activity android:name="com.maipetsfct.VetActivity" />
        <activity
            android:name="com.maipetsfct.popups.PopPet"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name="com.maipetsfct.AddMascActivity" />
        <activity
            android:name="com.maipetsfct.popups.PopUpSelect"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name="com.maipetsfct.UsersActivity" />
        <activity android:name="com.maipetsfct.registros.VetRegister" />
        <activity android:name="com.maipetsfct.registros.FamilyRegister" />
        <activity android:name="com.maipetsfct.LoginActivity" />
        <activity android:name="com.maipetsfct.NewUserActivity" />
        <activity android:name="com.maipetsfct.PostMainActivity" />
        <activity android:name="com.maipetsfct.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>